{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="description-container">
        <p class="description">
            Fotógrafo y director de fotografía con experiencia
            tanto en proyectos de ficción como de publicidad.
        </p>
        <p class="description">
            Empezó su carrera como guionista de los cortometrajes
            "Puro Teatro"(2007) y "Crónica de una Lágrima"(2009)
            para dar el salto a la dirección en <a href="https://youtu.be/gVUdvPw4RVw">"Duocracia"(2014)</a>
            seguido de <a href="https://www.youtube.com/watch?v=VyVQv__jiVw">"¡ALMA!"(2015)</a>.
        </p>
        <p class="description">
            En publicidad ha participado en varias campañas como
            director de fotografía para empresas como Caja Rural,
            ITACYL, Conservatorio de Música de Castellón, Decathlon.
        </p>
        <p class="description">
            Actualmente sigue en búsqueda de proyectos donde tanto
            el guión como la imagen se unan para contar historias
            que emocionen.
        </p>
    </div>
    <div class="description-image">
        <img src="/static/raul_camera.jpg">
    </div>
</div>


{% endblock %}